<h1><a href="@Model.Current.Path">@Model.Current.Title</a></h1>
<ul>
@foreach (var keyValue in Model.Contents) {
<li><a href="@Href(keyValue.Value)">@keyValue.Key</a></li>    
}
@if (Model.Parent.Path != "") {
<li><a href="@Href(@Model.Parent.Path)" title="@Model.Parent.Title">上に戻る(@Model.Parent.Title)</a></li>
}
</ul>