@{
    Layout = null;

    var versionInfo = typeof(Iroha.WebPages.MvcApplication).Assembly.GetName().Version;
    var buildDate = new DateTime(2000, 1, 1);
    buildDate = buildDate.AddDays(versionInfo.Build);
    buildDate = buildDate.AddSeconds(versionInfo.Revision * 2);
}
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta charset="UTF-8" />
<title>@ViewBag.Title | Iroha</title>
<link rel="stylesheet" href="@Url.Content("~/Shared/Css/Common.css")" />
<script src="@Url.Content("~/Shared/Js/modernizr-1.7.min.js")"></script>
<script src="@Url.Content("~/Shared/Js/jquery-1.5.1.min.js")"></script>
<script src="@Url.Content("~/Shared/Js/jquery-ui-1.8.11.min.js")"></script>
<script src="@Url.Content("~/Shared/Js/jquery.validate.min.js")"></script>
<script src="@Url.Content("~/Shared/Js/jquery.validate.unobtrusive.min.js")"></script>
@if (IsSectionDefined("LocalResources")) {
<!--LocalResources-->@RenderSection("LocalResources", false)<!--/LocalResources-->
}
</head>
<body>

<header id="globalHeader">
<h1>Iroha</h1>
<p>as @User.Identity.Name</p>
</header>

<div id="pageContent">
@RenderBody()
</div>

<footer id="globalFooter">
<p>Iroha @versionInfo (Build at @buildDate)</p>
</footer>
</body>
</html>
